.discovertcs {
    background-color: black;
    padding-bottom: 15vw;
    padding-top: 5vw;
    color: white;
    padding-left: 6vw;
    padding-right: 6vw;
}


.discovertcs .row1 {
    margin-bottom: 30px
}

.carousel img {
    transition: transform 3s;
    max-height: 1000px;
    min-height: 1000px
}

.carousel img:hover {
    transform: scale(1.03);
    /* Scale the image on hover using transform property */
}

.containerpadleft20 {
    padding-left: 25%;
}

.scaledcarousel {
    position: relative;
}

.scaledcarousel .row2 {
    position: absolute;
    top: 25%;
    left: 14%
}

.carousel .brdr {
    border: 1px solid white;
    width: 20%
}

.scaledcarousel .owl-nav button.owl-prev {
    position: absolute;
    left: 5%;
}

.scaledcarousel .owl-nav button.owl-prev i,
.scaledcarousel .owl-nav button.owl-next i {
    font-size: 30px;

}

.scaledcarousel .owl-nav button.owl-next {
    position: absolute;
    right: 5%;
}

.scaledcarousel .owl-dots .owl-dot span {
    width: 30px !important;
    height: 2px !important;
}

.scaledcarousel .owl-dots .owl-dot.active span {
    background-color: #e41165 !important;
    width: 30px !important;
    height: 2px !important;
}

.discovertcs .contentOnHover .mytext {
    display: block;
}


.discovertcs .contentOnHover img {
    opacity: 0.5 !important;
}

.discovertcs .contentOnHover {
    position: relative;
}

.discovertcs .contentOnHover .mytext {
    position: absolute;
    top: 20%;
    left: 15%;
}

.discovertcs .contentOnHover .mytext h5 {
    font-size: 2rem;
    line-height: 40px;
    color: #fff;
    margin-bottom: 2.25rem;
    font-family: "Houschka Pro Medium";


}

.discovertcs .myherobutton {
    background-color: transparent;
    /* width: fit-content; */
    font-family: "Basis Grotesque Pro";
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: .03125rem;
    color: #fff;
    border: 1.5px solid #b4b4b8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 75pt;
    background: transparent;
    border-radius: 6.25rem;
    border: 1px solid #5e6162;
    font-size: 1.125rem;
    letter-spacing: .03125rem;
    padding: 9pt 2pc;
    -webkit-transition: border .5s;
    transition: border .5s;
    border: 1.5px solid #b4b4b8;

}

.discovertcs .myherobutton:hover a {
    color: white
}

@media screen and (max-width: 1200px) {
    .discovertcs .contentOnHover .mytext {
        left: 2%
    }
}

@media screen and (max-width: 992px) {
    .carousel img {
        transition: transform 3s;
        min-height: 600px
    }
}

@media screen and (max-width: 768px) {
    .carousel img {
        transition: transform 3s;
        min-height: 500px
    }
}

@media screen and (max-width: 600px) {
    .discovertcs .contentOnHover .mytext h5 {
        font-size: 1.5rem;
        line-height: 25px;
        margin-bottom: 1.5rem;
    }

    .carousel img {
        transition: transform 3s;
        min-height: 400px
    }
}

@media screen and (max-width: 450px) {

    .scaledcarousel .owl-nav button.owl-prev i,
    .scaledcarousel .owl-nav button.owl-next i {
        font-size: 20px;

    }

    .carousel img {
        transition: transform 3s;
        min-height: 300px
    }
}

@media screen and (min-width: 1200px) {
    /* .scaledcarousel .owl-dots .owl-dot span{
        width: 300px !important;
        height:300px !important;
    }
    .scaledcarousel .owl-dots .owl-dot.active span{
        background-color:#e41165!important;
        width: 300px !important;
        height:300px !important;
    } */
}