.container1 {
    padding-left: 6vw;
    padding-right: 6vw;
}

.herosection {
    background-color: black !important;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
}

.herosection .item {
    position: relative;
}

/* .item .bookonimg{
    display: inline-block;
    color: white;
    background-color: black;
    position: absolute;
    top: 90%;
    right: 4%;
    height: 30px;
    width: 39px;
} */

.item .bookonimg {
    background-image: url("https://www.tcs.com/etc.clientlibs/tcs/clientlibs/clientlib-site/resources/images/article-ico-w.svg");
    background-repeat: no-repeat;
    display: inline-block;
    color: white;
    background-color: black;
    position: absolute;
    top: 88%;
    right: 3.9%;
    width: 3pc;
    height: 3pc;
    background-position: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: #000;
    content: "";
    z-index: 2;
}


.herosection .heroContent {
    position: absolute;

}

.herosection .heroheading {
    font-size: 62px;
    color: #fff;
    text-align: left;
    position: relative;
    z-index: 1;

}

.contentOnHover .mytext {
    display: none;
}

.herosection .myherobutton {
    background: linear-gradient(102.57deg, #dc0916, #f41fd6 100%, #f41fd6 0);
    border-radius: 6.25rem;
    font-size: 16px;
    color: #fff;
    letter-spacing: .03125rem;
    padding: 9pt 2pc;
    color: white;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: auto;
    text-decoration: none;


}

.herosection .myherobutton:hover {
    background: linear-gradient(302.57deg, #dc0916, #f41fd6 100%, #f41fd6 0);


}

.herosection .myherobutton a:hover {
    background: linear-gradient(302.57deg, #dc0916, #f41fd6 100%, #f41fd6 0);


}

.btntext {
    text-decoration: none;
    color: white;
    font-family: "Basis Grotesque Pro";
}

.btntext:hover {
    text-decoration: none;
    color: white;
}


.mynavbuttons {
    position: absolute;
    bottom: 5%;
    left: 16%;
    z-index: 4;
    font-size: 30px;
    color: white;
}

.myprev:hover,
.mynext:hover,
.mypauseplay:hover {
    cursor: pointer;
}

.contentOnHover .mytext p {
    font-size: 24px;
    line-height: 40px;
    color: rgb(201, 201, 206);
    margin-bottom: 40px;
    text-align: left;
}

.herosection img {
    height:72vh !important;
    padding: 50px 50px 50px;
    transition: transform .5s;

}


.herosection .item:hover .mytext {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    /* set the position to relative */

}

.herosection .item:hover img {
    transform: scale(1.15);
    opacity: 0.5;
}

.herosection .item:hover .bookonimg {
    display: none;
}

/* swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}


.autoplay-progress {
    position: absolute;

    z-index: 10;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    top: 30px;
    right: 250px;
    color: white;


}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 1.5px;
    stroke: red;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6 !important;
    transform: rotate(-90deg);
}

@media screen and (max-width: 992px) {
    .herosection .heroheading {
        font-size: 25px;
    }

    .herosection .mytext .title {
        font-size: 1.5rem;
        line-height: 40px;
        color: #c9c9ce;
        margin-bottom: 2.5rem;
        font-family: Basis-regular;
        opacity: 0;
    }

    .herosection .mytext .btntext {
        font-size: 15px;
    }

    .herosection .item:hover img {
        transform: scale(2);
        opacity: 0.5;
    }

}

@media screen and (max-width: 720px) {
    .container1 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .mynavbuttons {
        position: absolute;
        bottom: 5%;
        left: 16%;
        z-index: 4;
        font-size: 15px;
    }

    .autoplay-progress {
        height: 50px;
        width: 50px
    }
}
@media screen and (max-width: 1700px) {
    .item .bookonimg {  
        top: 87%;
        right: 3.9%;
        
    }
}
@media screen and (max-width: 1600px) {
    .item .bookonimg {  
        top: 86%;
        right: 4%;
        
    }
}@media screen and (max-width: 1500px) {
    .item .bookonimg {  
        top: 85%;
        right: 4.1%;
        
    }
}
@media screen and (max-width: 1400px) {
    .item .bookonimg {  
        top: 84%;
        right: 4.3;

    }
}
@media screen and (max-width: 1200px) {
    .item .bookonimg {  
        display:none;

    }
}

