.insightCard .hover-read span {
    font-family: "Basis Grotesque Pro";
    color: #b60e51;
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: .15em;

}

.insightCard .hover-read .bookonimg {
    margin-right: 10px;
    background-image: url("https://www.tcs.com/etc.clientlibs/tcs/clientlibs/clientlib-site/resources/images/article-ico-w.svg");
    background-repeat: no-repeat;
    display: inline-block;
    right: -7.1%;
    width: 14px;
    height: 16px;
    background-position: center;
    position: relative;
    top: 5px;
    background-color: #b60e51;
    color: #b60e51;
}