.capitalHero{
    background-image: url("https://s7ap1.scene7.com/is/image/TCSCOMprod/capital-markets-exponential-future-growth-1?wid=2000&hei=788&dpr=off");
    background-repeat: no-repeat;
    background-size: cover;
    animation: scale-background 4s forwards; 
}