.button-container {
    position: fixed;
    right: 0%;
    bottom: 3%;
    /* transform: translateY(-50%); */
}

.slide-button {
    font-family: "Basis Grotesque Pro";
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(102.57deg, #dc0916, #f41fd6 100%, #f41fd6 0);
    font-size: 16px;
    letter-spacing: .03125rem;
    padding: 9pt 1pc;
    transition: all .5s;
    width: auto;
    width: 100%;
    background: #e41165;
    width: 100%;
    height: 3.5rem;
    border-top-left-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
    z-index: 15 !important;
    /* text-align: left; */
}

.slide-button img {
    margin-right: 10px;
}

.slide-button.out {
    transform: translateX(69.5%);
}

.slide-button.in {
    transform: translateX(1%);
}