.discovertcs{
    background-color: black;
    padding-bottom:15vw;
    padding-top:5vw;
    color:white;    
}
.discovertcs .row1{
    margin-bottom:30px  
}

.carousel img{
    transition: transform 3s; 
  
}
.carousel img:hover {
transform: scale(1.03); /* Scale the image on hover using transform property */
} 

.containerpadleft20{
    padding-left: 25%;
}
.scaledcarousel{
    position: relative;
}
.scaledcarousel .row2{
    position:absolute;
    top:25%;
    left:14%
}
.carousel .brdr{
    border:1px solid white;
    width:20%
}