.review .review-heading {
    font-size: 3.5rem !important;
    font-family: "Houschka Pro Medium " !important;
    color: #e41165 !important;
    line-height: 56px !important;
    margin: 2pc 0 !important;
    font-weight: 500;
}

.review .author {
    border-top: 1px solid #dfdee3;
    padding: 2.5rem 0;
}

.review .author .name {

    font-size: .875rem;
    font-family: "Basis Grotesque Pro";
    color: #000;
    letter-spacing: .15em;
}

.review .author .designation {
      font-size: 1rem;
    color: #000;
    letter-spacing: .5px;
    margin: 0;
}