.review .review-heading {
    font-size: 3.5rem;
    font-family: "Houschka Pro Medium ";
    color: #e41165 ;
    line-height: 56px;
    margin: 2pc 0 ;
    font-weight: 500;
}

.review .author {
    border-top: 1px solid #dfdee3;
    padding: 2.5rem 0;
}

.review .author .name {

    font-size: .875rem;
    font-family: "Basis Grotesque Pro";
    color: #000;
    letter-spacing: .15em;
}

.review .author .designation {
    font-size: 1rem;
    color: #000;
    letter-spacing: .5px;
    margin: 0;
}


@media screen and (max-width:992px) {
    .review .review-heading {
        font-size: 2.5rem;
        line-height: 40px;
    }
}