.myAccordianHeading {
    font-family: "Basis Grotesque Pro";
    font-size: .875rem;
    line-height: 1.5rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .15em;
    text-align: left;
    font-weight: 400;
    padding-top:20px;
}

.myAccordianTitle {
    font-family: "Houschka Pro Medium";
    font-size: 3rem;
    line-height: 3rem;
    color: #000;
    text-align: left;
    font-weight: 400;
    border-left: 4px solid #e41165;
    padding-left: 2rem;
}

.accordionItemCount {
    font-size: 3rem;
    font-weight: 500;
    font-family: "Houschka-medium";
    color: rgb(0, 123, 255);
    padding-right: 24px;
    text-align: left;
}

.accordionItemTitle {

    font-family: "Houschka-medium";
    font-size: 2rem;
    line-height: 2.5rem;
    color: #000;
}

.myAccBody p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .5px;
    color: #494c4d;
}
.myAccBody i{
 color:#e41165;
 font-size:xx-large;
 padding-left: 10px;
}

.myAccBody a {
    text-decoration: none;
    color: black;
    font-family: "Basis Grotesque Pro";
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: .5px;
    color: #000;
    
}
.myAccBody .bodyWithTxt{
    padding-top: 64px;
    padding-bottom: 64px;
}

.myAccBody .bodyWithTxt h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #000;
    font-family: "Houschka-medium";
}

.myAccBody .bodyWithTxt p {
    padding-bottom: 42px;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: .5px;
    color: #000;

}


@media screen and (max-width: 576px) {
    .accordionItemCount{
        font-size:2rem;
    }
    .accordionItemTitle{
        font-size: 1rem;
    }
  }

  .accordion-button::after {
    content: '-';
    font-size: 2.25rem;
    float: right;
    color:black;
    background-image: none;
  }
    

  .accordion-button.collapsed::after {
    content: '+';
    font-size: 2.25rem;
    float: right;
    color:black;
    background-image: none;/* for making down arrow none */
  }
  /* for making up arrow none */
  .accordion-button:not(.collapsed)::after{
    background-image:none; 
  }
