.section2{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f4f3f9;
}
.section2 h1{
    padding-bottom: 30px;
    color: black;
}
.section2 a{
    text-decoration: none;
    

}
.industry-links{
    
    padding-bottom: 10px;

}
.section2_icon{
    display: inline-block;
    width:30px;
}
.industry-title{
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.industry-icon{
    color:#007dc5;
    padding-right: 10px;
}
.industry-arrow{
    float:right ;
    transition: transform 0.5s;
}
.industry-links:hover .industry-arrow{
    transform: translatex(50%)
}

@media only screen and (max-width: 400px) {
    .industry-title{
        font-size:16px
    }
}

