.transformation {
    background-color: #1e2222;
    color: white;
    border-bottom: 1px solid rgb(98, 98, 98);
}

.side-img {
    height: 400px;
    overflow: hidden;

}

.transformation img {
    width: 100%;
}

.transformation-btn {
    text-decoration: none;
    background: linear-gradient(102.57deg, #dc0916, #f41fd6 100%, #f41fd6 0);
    border-radius: 6.25rem;
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: .03125rem;
    height: 3.5rem;
    padding: 9pt 2pc;
}
.transformation-btn:hover{
    color: black;
}