.transformation {
    background-color: #1e2222;
    color: white;
    border-bottom: 1px solid rgb(98, 98, 98);
}

.side-img {
    height: 407px;
    overflow: hidden;

}

.transformation img {
    width: 100%;
}

.transformation-heading {
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #fff;
    font-family: "Houschka Pro Medium"
}

.transformation-para {
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: .03125rem;
    color: #b4b4b8;
    font-family: Basis-regular;
}

.transformation-btn {
    text-decoration: none;
    background: linear-gradient(102.57deg, #dc0916, #f41fd6 100%, #f41fd6 0);
    border-radius: 6.25rem;
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: .03125rem;
    padding: 9pt 2pc;

}

.transformation-btn:hover {
    color: black;
}

@media screen and (max-width: 768px) {
    .side-img {
        display: none;
    }

    .transformation {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .transformation-heading {
        font-size: 2.5rem;
    }
}