.carouselcard img {
        transition: transform 1s;

}

.carouselcard img:hover {
        transform: scale(1.03);
        /* Scale the image on hover using transform property */
}

.carouselcard .row3 {
        font-family: "Basis Grotesque Pro";
        background-color: none;

}

.carouselcard .row3 .bookonimg {
        background-color: transparent !important;
        margin-right: 10px;
        background-image: url("https://www.tcs.com/etc.clientlibs/tcs/clientlibs/clientlib-site/resources/images/article-ico-pink.svg");
        background-repeat: no-repeat;
        display: inline-block;
        right: -7.1%;
        width: 14px;
        height: 16px;
        background-position: center;
        position: relative;
        top: 5px;

}



.carouselcard .row3 a {
        text-decoration: none;
        background: linear-gradient(102.57deg, #dc0916, #f41fd6 100%, #f41fd6 0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}